/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'handsontable/dist/handsontable.full.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full-width {
  width: 100%;
}

.table-container {
  height: calc(100vh - 250px);
  margin-top: 20px;
}
